
body {
  font-family: Arial, sans-serif;
}

a{
  color: #f0f0f0;
  text-decoration: none;
}

.title{
  font-size: x-large;
  font-weight: 400;
}

.subtitle{
  margin-top: 0px;
  margin-left: 3rem;
}

.icon{
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  z-index: 10;
  padding: 0rem 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  cursor: pointer;
  position: relative;
}

.link{
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
}

.address{
  margin-right: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 251, 251, 0.155);
}

.dropdown-menu {
  min-width: 200px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu.show {
  display: block;
}

.navbar-links .link.active {
  background-color: #4caf50;
  color: black;
  border-radius: 5px; 
}